In [1]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 68.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247951 sha256=6fedff425e34a04deea36e4d4b4e95231388a74475c683151a0e30358f11c5df
  Stored in directory: /root/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [2]:
import mysql.connector

In [11]:
"""mydb=mysql.connector.connect(
    host="campusxdb-instance.c98zqacq3vgm.us-east-2.rds.amazoneaws.com",
    user="root",
    passwd="12345678",
    database="demodb"
)"""

'mydb=mysql.connector.connect(\n    host="campusxdb-instance.c98zqacq3vgm.us-east-2.rds.amazoneaws.com",\n    user="root",\n    passwd="12345678",\n    database="demodb"\n)'

In [4]:
# my db is actually a sql connector

In [5]:
# no we use cursor ....... actually the cursor is class
# work as  mycursor=mydb.cursor()
#type(my cursor)

In [6]:
# fetching data from users
#mycursor.execute("SELECT *  FROM users")
#mycursor.fetchall()

In [7]:
# all data appear in form of list

In [8]:
# by writing
# for i in data:
#    print(i[2],i[3])
#it will name from every tuple objects

In [9]:
# for joining two
"""query=""SELECT fname,task_id,score FROM evalution e JOIN users u ON  u.user_id=e.user id"""# here first select fisrt last column and score from evalution data and users id from user data

'query=""SELECT fname,task_id,score FROM evalution e JOIN users u ON  u.user_id=e.user id'

In [10]:
# then steps are
#mycursor.execute(query)
#data=my_cursor.fetchall()

In [ ]:
#from i in data :
#print (i) # data will appear